<div class="addr-form">

  <h1>We love local yarn shops!</h1>
  <h2>If you don't know yours yet or if you're currently outside your normal habitat,
  enter your address below and see what's nearby.</h2>

  <form id="address-form" method="post" action="/shops">
    <label for="street-address">Street address:</label>
    <input id="addr-text" type="text" name="street_address">
    <br>
    <label for="city">City:</label>
    <input id="city-text" type="text" name="city">
    <label for="state">State:</label>
    <input id="state-text" type="text" name="state">
    <br>
    <label for="zip">Zip code:</label>
    <input id="zip-text" type="text" name="zip">
    <input id="address-button" type="submit" value="Find LYS">
  </form>

</div>