<div class="lys">
 
  <h1>If I did this right, these should be your local yarn shops!</h1>

  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_JYOTiYn8B4QoUPd4D3uA_WdemyG-ZEA&libraries=places"></script>

  <script src="/js/maps.js"></script>

  <div id="googleMap" style="width:500px;height:380px;"></div>

</div>