<h1><%= @project.project_name %></h1>

<span><%= "Created on #{@project.created_at.to_date}." %></span>

<div class="instructions-container">
  <div>
    <h2>Starting out:</h2>
    <p>Cast on 28 stitches. We recommend <a href="https://www.youtube.com/watch?v=1pmxRDZ-cwo">Judy's Magical Cast-On"</a>, which truly is magical.</p>

    <p>It's good to start thinking of your sock in two parts right from the start. At the moment, the parts have an equal number of stitches. The top part is the instep and the bottom is the sole.<p>

    <p>Increase one stitch on each side of the sole stitches and one stitch each side of the instep stitches. That will be four increases in each round. Knit one row without increases.</p>

    <p>Repeat these two rows 7 times. You should have 56 stitches in total.</p>

    <p>In the next increase row, increase one stitch on each side of the instep stitches and none on the sole stitches. You now have 58 stitches. If you haven't been keeping count of your rows, start doing that now. These last increases are at row 15.<p>
  </div>

  <div>
    <h2>Main part of foot:</h2>
    <p>Start knitting your pattern on the instep stitches. The sole stitches are usually just plain stockinette stitch (but these are your socks, do what you want).</p>

    <p>Knit in that pattern until you reach row 61.</p>
  </div>

  <div>
    <h2>Increasing for gusset:</h2>
    <p>Row 61: Increase one stich on each side of your sole stitches. Knit your instep pattern as usual.</p>
    <p>Row 62: Knit around.</p>
    <p>Repeat these two rows 10 more times until you have 80 stitches in total.</p>
  </div>

  <div>
    <h2>Turn the heel (you can do it!)</h2>
    <p> Excellent animation will go here </p>
  </div>

  <div>
    <h2>Continue to the top!</h2>
    <p>Knit your pattern all the way around until either you've used up half of your yarn or the sock is as long as you want it to be (whichever comese first).</p>
    <p>Use a relatively loose bind-off.</p>
    <h3>If this is the first sock, congratulations! Now do it again.</h3>
  </div>
</div>